@{
    ViewBag.Title = "Contato";
}
<h3>@ViewBag.Message</h3>

<address>
    Rua Professora Áurea Cruz<br />
    Capoeiras, Florianópolis <br />
    <abbr title="Phone">Telefone para contato:</abbr>
    (48) 98400-5090
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:leonardo.machado@programer.net">leonardo.machado@programer.net</a>
</address>