@{
    ViewBag.Title = "Videoteca";
}

<div class="jumbotron">
    <h1>Filmes e Gêneros</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Filmes</h2>
        <p>
            É possivel listar, cadastrar e realizar exclusão lógica de filmes.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gêneros</h2>
        <p>É possivel listar, cadastrar e realizar exclusão lógica de Gêneros de Filmes</p>
    </div>
</div>